{% extends 'core/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div id="profile-root"></div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/babel" src="{% static 'js/components/api.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/profileService.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/Profile.js' %}"></script>
<script type="text/babel">
    const root = ReactDOM.createRoot(document.getElementById('profile-root'));
    root.render(<Profile />);
</script>
{% endblock %} 